<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",user: current_user).html_safe %>
    </script>
<% end %>

<script type="text/javascript"> 
    window.logo = "<%= image_url("Wordmark-Mono.png") %>"
</script>

<div id="root">

</div>