.sites-list {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

.site-item {
    list-style: none;
    width: 200px;
    display: block;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
    border-style: solid;
    margin-top: 10px;
    img {
        height: 100%;
        width: 100%;
        margin-bottom: -25px;
    }
    .site-title {
        font-size: 25px;
        font-weight: 400;
        margin-bottom: -10px;
    }
    p {
        font-size: 15px;
        font-weight: 400;
    }
    a {
        text-decoration: none;
    }
}
