.site-show{
  width: 85%;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100%;
    height: 500px;
  }
}

.site-info {
  width: 90%;
  margin-left: 50px;
  text-align: left;
}

.site-heading {
  // border-style: solid;
  width: 55%;
}

.owner-options {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin-top: 25px;
  a {
    text-decoration: none;
    color: grey;
  }
  .edit-button {
    text-decoration: none;
    color: grey;
  }
}

.site-list {
  list-style: none;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  li {
    margin-left: -30px;
  }
}

.site-category{ 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.site-lists {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.act-false {
  color: grey;
}

.booking-box {
  width: 400px;
  height: 200px;
  margin-top: -90px;
  border-style: solid;
  border-color: grey;
  .site-pricing {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 15%;
    p {
      color: grey;
    }
  }
}

.booking-button {
      // width: 85%;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #00e6ac;
      font-size: 1.3rem;
    }

.line-break {
  width: 100%;
}