.sites-list {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}


.site-item {
    list-style: none;
    width: 200px;
    display: block;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
        height: 100%;
        width: 100%;
        margin-bottom: -25px;
    }
     .site-title {
        font-size: 25px;
        font-weight: 400;
        margin-bottom: -10px;
    }
    p {
        font-size: 15px;
        font-weight: 400;
    }
}