.bookings {
  text-align: center;
  margin-bottom: 100px;
}

.no-bookings {
  text-align: center;
  margin-bottom: 600px;
}

.booking-detail {
  // border-style: solid;
  background: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
  list-style: none;
  height: 430px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.booking-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.booking-image {
  width: 400px;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.booking-dates {
  margin-left: 50px;
  text-align: left;
}

.booking-location {
  text-decoration: none;
  color: black;
}

.booking-reminder {
  color: black;
  text-decoration: none;
}

.booking-reminder:hover {
  color: #00e6ac;
}

.delete-button {
  width: 85%;
  border-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00e6ac;
  font-size: 1.2rem;
  color: white;
  margin: 0 auto;
}