.form-input {
    width: 85%;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
}

.form-input::placeholder {
    font-weight: bolder;
    color: black;
    text-align: center;
}

.submit-button {
    width: 85%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    background-color: #00e673;
    color: white;
    font-size: 1.3rem;
}

.demo-button {
    width: 85%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-top:15px;
    background-color: #00e673;
    color: white;
    font-size: 1.3rem;
}

.submit-button:hover, .demo-button:hover {
    background-color: #00cc66;
    cursor: pointer;
}

.alternative {
    margin: 0 auto;
}


.state-input {
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align:center;
}

.state-list {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    background: white;
}