@import "./session_form/session_form";
@import "./sites/sites_detail";
@import "./sites/sites_form";
@import "./sites/sites_show";
@import "./footer";
@import "./search";
@import "./booking/booking_form";


* {
    font-family: sans-serif;
}

.header {
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.logo{
    width: 140px;
    padding-right: 300px;
    margin-top: 10px;
}

.not-found {
    margin: 0 auto;
} 
.header-nav {
    display: flex;
    font-size: 17px;
    justify-content: space-evenly;
    ul{
        display: flex;
        list-style: none;
        li {
            display: flex;
            font-size: 13px;
            margin-left: 15px;
        }
    }
}

.header-link {
    display: inline-block;
    padding-right: 5px;
    text-decoration: none;
    margin: 0 auto;
    color: grey;
    border-style: none;
    button {
        border-style: none;
    }
}

.header-link:hover, .logo:hover, .dropdown-content:hover {
    text-decoration: underline;
    text-decoration-color: green;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255,0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%,-50%);
    // width: 350px;
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background: white;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.splash-content {
    width: 60%;
    margin-left: 10%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.splash-title {
    h2 {
        font-size: 35px;
    }
}

.splash-body {
    width: 60%;
    font-weight: 400;
    p {
        margin-top: -20px;
        font-weight: 500;
    }
}

.dropdown > .header-link:hover {
    .dropdown-content { 
        display:block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    text-decoration: none;
    margin: 0 auto;
    color: grey;
    padding-top:15px;
}




