@import "./session_form/session_form";

* {
    font-family: sans-serif;
}

.header {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.logo{
    width: 250px;
    padding-right: 300px;
    margin-top: 10px;
}

.header-nav {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-evenly;
    ul{
        display: flex;
        list-style: none;
    }
}

.header-link {
    display: inline-block;
    width: 90px;
    padding-right: 5px;
    text-decoration: none;
    height: 100%;
    margin: 0 auto;
    color: grey;
    button {
        border-style: none;
    }
}

.header-link:hover, .logo:hover, .dropdown-content:hover {
    text-decoration: underline;
    text-decoration-color: green;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: solid;
    width: 25%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background: white;
}

.splash-content {
    width: 70%;
    margin: 0 auto;
}

.splash-body {
    width: 45%;
}

.dropdown > .header-link:hover {
    .dropdown-content { 
        display:block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    text-decoration: none;
    margin: 0 auto;
    color: grey;
    padding-top:15px;
}




