html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.footer { 
    height: 350px;
    margin-top: 30px;
    background-color: #412F5A;
    background-image: asset_url('foot-mountains.png');
    background-repeat: repeat-x;
    background-position: bottom;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    padding-right: 150px; 
    padding-left: 150px;
}

.footer-body {
    position: top; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: left;
    margin-top: 20px;
    margin-bottom: 150px;
    // margin-left: 50px;
}

.footer-title-div {
    width:495px;
}

.footer-title {
    color: #7f6b9b;
    font-size: 18px; 
}

.footer-text {
    position: bottom;
    display: flex;
    align-items: flex-start;
    height: 25%;
    width: 492px; 
    font-family: "calibre", helvetica, sans-serif;
    color: white; 
    font-size: 14.4px; 
    line-height: 1.5;
}

.icon-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: auto;
}

.icon-links a {
    color: white;
    font-size: 14.4px;
    padding-top: 10px;   
    text-decoration: none;
}

.icon-links a:hover {
    color: #7f6b9b;
}


.footer-icons {
    margin-bottom: 150px;
    margin-right: 50px; 
}

.social-title {
    color: #7f6b9b;
    font-size: 18px; 
    font-family: "calibre", helvetica, sans-serif;
}


.fa-campground {
    font-size: 10px;
}