html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 1300px;
}

.footer { 
    height: 350px;
    margin-top: 30px;
    background-color: #412F5A;
    background-image: asset_url('foot-mountains.png');
    background-repeat: repeat-x;
    background-position: bottom;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    padding-right: 125px; 
    padding-left: 125px;
}

.footer-main {
    position: top; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: left;
    // margin-top: 20px;
    margin-bottom: 180px;
}

.footer-heading {
    width: 500px;
}

.footer-title {
    color: #7f6b9b;
    font-size: 20px; 
}

.footer-body {
    position: bottom;
    display: flex;
    align-items: flex-start;
    width: 450px; 
    color: white; 
    font-size: 15px; 
    line-height: 1.2;
}

.list-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: auto;
}

.list-links a {
    color: white;
    font-size: 15px;
    line-height: 1.5; 
    text-decoration: none;
}

.list-links a:hover {
    color: #7f6b9b;
}


.footer-list {
    margin-bottom: 180px;
    margin-right: 50px; 
}

.social {
    color: #7f6b9b;
    font-size: 18px; 
}