.search-content{
  height: 400px;
  width: 85%;
  min-width: 1200px;
  margin: 0 auto;
}

.search-box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
  width: 98%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 1.3rem;

}

.search-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 99%;
}

.search-button {
  border-style: solid;
  border-color: grey;
  background: white;
  border-width: 1px;
  padding: 20px 80px 20px 80px;
  text-align: center;
}

.search-button:hover, .search-submit:hover {
  cursor: pointer;
}

.search-button-active {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 20px 80px 20px 80px;
  text-align: center;
  background: #00e6ac;
  color: white;
}

.search-submit {
  border-width: 1px;
  padding: 20px 80px 20px 80px;
  background: #00e6ac;
  color: white;
  font-size: 1.1rem;
}



