.search-content{
  height: 400px;
  width: 85%;
  min-width: 1000px;
  margin: 0 auto;
}

.search-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px 10px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
  width: 95%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 1.3rem;
  border-radius: 15px;
  border-width: 1px;


}

.search-buttons {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 10px;
  width: 95%;
}

.search-button {
  border-style: solid;
  border-color: grey;
  border-radius: 15px;
  background: white;
  border-width: 1px;
  padding: 20px 60px 20px 60px;
  text-align: center;
}

.search-button:hover, .search-submit:hover {
  cursor: pointer;
}

.search-button-active {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 20px 60px 20px 60px;
  text-align: center;
  background: #00e6ac;
  border-radius: 15px;
  color: white;
}

.search-submit {
  border-width: 1px;
  padding: 20px 80px 20px 80px;
  background: #00e6ac;
  color: white;
  font-size: 1.1rem;
  border-radius: 15px;
}


.search-submit:hover {
  background-color: #00b386;
}

.search-button:hover {
  background-color: #00b386;
}

